CompileFlags:
  Add: [
    -I/usr/include/gstreamer-1.0,
    -I/home/talksik/code/flowy_multimedia/example/elinux/flutter/ephemeral/cpp_client_wrapper/include/,
    -I/home/talksik/code/flowy_multimedia/example/elinux/flutter/ephemeral,
    -I/home/talksik/code/flowy_multimedia/example/linux/flutter/ephemeral/cpp_client_wrapper/include/,
    -I/home/talksik/code/flowy_multimedia/example/linux/flutter/ephemeral,
    -I/usr/include/glib-2.0,
    -I/usr/lib/x86_64-linux-gnu/glib-2.0/include,
    -I/usr/include/gtk-3.0, -I/usr/include/pango-1.0]

